<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <style>
        .el-row {
            margin-bottom: 10px;
        }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- 下载信息详情 -->
        <div v-show="downloadInforVisible">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark">
                        <span>文件夹大小：{{ unitConversion(downloadCategorySize) }}</span>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="8">
                    <div class="grid-content bg-purple">
                        <span>
                            已下载文件进度：{{ downloadStartFileCount - downloadFileCount }} / {{ downloadStartFileCount }}
                        </span>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="grid-content bg-purple">
                        <span>等待&正在下载文件数量：{{ downloadFileCount }}</span>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="grid-content bg-purple">
                        <span>下载文件异常数量：{{ downloadedErrorRecordData.length }}</span>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark">
                        <span>请不要关闭标签页，否则会暂停下载流程</span>
                    </div>
                </el-col>
            </el-row>
        </div>

        <!-- 下载进度详情 -->
        <el-steps :active="downloadCategoryStep" simple>
            <el-step title="点击选择种子" icon="el-icon-orange" @click.native="onDownloadCategoryAndMaterialFS"></el-step>
            <el-step title="选择/查看下载资源" icon="el-icon-s-management" @click.native="SelectAndSeeSeed"></el-step>
            <el-step title="选择导出目录" icon="el-icon-folder"></el-step>
            <el-step title="构建目录" icon="el-icon-folder-opened"></el-step>
            <el-step title="下载文件" icon="el-icon-document-copy"></el-step>
            <el-step title="结束" icon="el-icon-s-cooperation"></el-step>
        </el-steps>

        <el-progress :text-inside="true" :stroke-width="26" :percentage="downloadProgress"></el-progress>

        <!-- 下载记录详情 -->
        <el-table :data="downloadRecordData" style="width: 100%" height="500" stripe>
            <el-table-column prop="date" label="时间" width="150"></el-table-column>
            <el-table-column prop="size" label="大小" width="100"></el-table-column>
            <el-table-column prop="filePath" label="下载内容"></el-table-column>
            <el-table-column label="下载进度">
                <template slot-scope="scope">
                    <el-progress :text-inside="true" :stroke-width="20"
                        :percentage="downloadRecordData[scope.$index].progress">
                    </el-progress>
                </template>
            </el-table-column>
        </el-table>

        <!-- 下载错误记录详情 -->
        <div v-show="downloadedErrorRecordData.length > 0">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark"><span>下载异常文件记录</span></div>
                </el-col>
            </el-row>
            <el-table :data="downloadedErrorRecordData" style="width: 100%" height="500" stripe>
                <el-table-column prop="date" label="时间" width="100"></el-table-column>
                <el-table-column prop="status" label="状态码" width="100"></el-table-column>
                <el-table-column prop="statusText" label="状态" width="120"></el-table-column>
                <el-table-column prop="size" label="大小" width="100"></el-table-column>
                <el-table-column prop="filePath" label="下载内容" width="150"></el-table-column>
                <el-table-column prop="url" label="下载链接"></el-table-column>
            </el-table>
        </div>

        <!-- 下载目录展示/选择 -->
        <el-drawer size="75%" title="即将下载以下内容" :visible.sync="drawerVisible" direction="btt">
            <el-container>
                <el-container width="80%">
                    <div>
                        <span>目录列表</span>
                        <el-tree ref='categoryTree' :data="dirDict['children']" highlight-current show-checkbox
                            check-strictly node-key="id" @node-click="handleCategoryClick" :default-expand-all='true'
                            @check="handleCategoryCheckChange" :default-checked-keys="categoryTreeCheckedId"
                            :props="{label: 'name'}">
                        </el-tree>
                    </div>
                </el-container>
                <el-container width="20%" v-show="fileTreedata.length > 0">
                    <div>
                        <span>文件列表</span>
                        <el-tree ref='fileTree' :data="fileTreedata" show-checkbox node-key="id"
                            @check="handleFileCheckChange" :default-checked-keys="fileTreeCheckedId"
                            :props="{label: 'name'}">
                        </el-tree>
                    </div>
                </el-container>
            </el-container>
            <el-footer style="text-align: center;">
                <el-button type="success" @click="onSubmitSeed" v-show="downloadCategoryStep <= 1">确定下载
                </el-button>
            </el-footer>
        </el-drawer>

        <el-drawer size="25%" title="设置下载器参数" :visible.sync="settingInforVisible" direction="rtl">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark">
                        <span>提示：仅在第一步可以设置参数</span>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark">
                        <span>是否使用密码解析种子文件</span>
                        <el-tooltip content="种子如果被加密乱码了，那么就需要勾选此项。" placement="left-start">
                            <el-switch v-model="USEPASSWORD" :disabled='downloadCategoryStep != 0'>
                            </el-switch>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark">
                        <span>是否使用HTTPS协议下载资源文件</span>
                        <el-tooltip content="HTTPS会更加安全快捷，不过需要资源服务器支持HTTPS协议" placement="left-start">
                            <el-switch v-model="USEHTTPS" :disabled='downloadCategoryStep != 0'>
                            </el-switch>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark">
                        <span>是否使用MD5做文件去重判断</span>
                        <el-tooltip effect="dark" content="MD5判断会使判断文件是否已经下载更加准确，但是会降低一点速度！不勾选则只根据文件大小判断是否已经下载"
                            placement="left-start">
                            <el-switch v-model="USEMD5CHECKREPEAT" :disabled='downloadCategoryStep != 0'>
                            </el-switch>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>
            <el-row>
        </el-drawer>
    </div>
</body>

<!-- 依赖四个库文件 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.3/theme-chalk/index.min.css">
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.3/index.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/spark-md5/3.0.2/spark-md5.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            // 设置模块
            USEPASSWORD: true, //ECB加密，43位密码
            USEHTTPS: true,
            USEMD5CHECKREPEAT: true,
            WRITEHANDLELIMIT: 6,
            SETTINGKEYCODE: 112, // 点击F1打开下载器的设置页面

            // 通用模块
            DOWNLOADINGIDLIST: [3, 4],
            downloadedFileSize: 0,
            downloadCategorySize: 0,
            downloadOriginFileCount: 0,
            downloadStartFileCount: 0,
            downloadFileCount: 0,
            downloadErrorFileSet: new Set(),
            downloadInforVisible: false,
            settingInforVisible: false,
            writeHandleNum: 0,

            // 选择/查看下载资源
            drawerVisible: false,
            fileTreedata: [],
            categoryTreeCheckedId: [],
            fileTreeCheckedId: [],
            discardCategoryIdSet: new Set(),
            discardFileIdSet: new Set(),

            // 下载显示模块
            downloadCategoryStep: 0,
            downloadStartTimestamp: 0,
            downloadProgress: 0,
            downloadRecordData: [],
            downloadedErrorRecordData: [],

            // 下载信息模块
            dirDict: [],
            dirPathDict: { 0: '' },
            fileList: [],
            dirHandleDict: {},
        },

        mounted() {
            let that = this
            document.onkeydown = function (event) {
                if (window.event.keyCode === that.SETTINGKEYCODE) {
                    that.settingInforVisible = true
                }
            }
        },

        watch: {
            downloadFileCount(newVal, oldVal) {
                if (newVal == 0 && oldVal == 1) {
                    this.downloadCategoryStep++
                    this.closeDownloadDialog()
                }
            }
        },

        methods: {
            // 通用函数
            async sleep(time = 1000) {
                return new Promise(resolve => {
                    setTimeout(resolve, time);
                });
            },

            getClock() {
                let date = new Date();
                let h = date.getHours();
                h = h < 10 ? "0" + h : h;
                let m = date.getMinutes();
                m = m < 10 ? "0" + m : m;
                let s = date.getSeconds();
                s = s < 10 ? "0" + s : s;
                return h + ":" + m + ":" + s;
            },

            unitConversion(val) {
                // 特殊处理：用Infinity来代表该文件的大小未知，未知可能是因为资源服务器并不告诉前端资源的大小
                if (val == Infinity || val == undefined) {
                    return "未知大小"
                }

                if (val > Math.pow(1024, 3)) {
                    return (val / Math.pow(1024, 3)).toFixed(2) + "GB"
                } else if (val > Math.pow(1024, 2)) {
                    return (val / Math.pow(1024, 2)).toFixed(1) + "MB"
                } else if (val > Math.pow(1024, 1)) {
                    return (val / Math.pow(1024, 1)).toFixed(0) + "KB"
                } else {
                    return val + "B"
                }
            },

            async getFileMD5(file) {
                return new Promise((resolve, reject) => {
                    let blobSlice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice
                    let fileReader = new FileReader()
                    let chunkSize = 2097152 // read in chunks of 2MB
                    let chunks = Math.ceil(file.size / chunkSize)
                    let currentChunk = 0
                    let spark = new SparkMD5.ArrayBuffer()
                    fileReader.onload = function (e) {
                        spark.append(e.target.result) // append array buffer
                        currentChunk++
                        if (currentChunk < chunks) {
                            loadNext()
                        } else {
                            resolve(spark.end())
                        }
                    }
                    fileReader.onerror = function () {
                        console.warn('FileReader error.')
                    }
                    function loadNext() {
                        let start = currentChunk * chunkSize
                        let end = ((start + chunkSize) >= file.size) ? file.size : start + chunkSize
                        fileReader.readAsArrayBuffer(blobSlice.call(file, start, end))
                    }
                    loadNext()
                })
            },

            formatProgress(percentage) {
                return percentage > 100 ? 100 : percentage;
            },

            // 把名字转变为一个合乎规范文件系统的名字
            formatName(name, prePath) {
                let that = this
                // 已知以下字符是合乎规范的
                // 英文字符：!@#$%^&()[]{}+-.,
                // 中文字符：～！¥（）「」：｜《》？，。

                // 已知以下字符是不合乎规范的
                // 英文字符：~*:<>?|
                let pattern = /[~*:<>?|]/g
                let illegalCharList = name.match(pattern)
                let newName = name.replace(pattern, '-')
                if (illegalCharList != null) {
                    let warningMessage =
                        '<p>修改前目录名:' + name + '</p>' +
                        '<p>非法字符列表（转为-）[' + illegalCharList.join(',') + ']</p>' +
                        '<p>非法字符个数:' + illegalCharList.length + '</p>' +
                        '<p>修改后目录路径:' + prePath + newName + '/' + '</p>'

                    that.$notify.warning({
                        title: '以下目录的名字已经修改',
                        message: warningMessage,
                        duration: 0,
                        dangerouslyUseHTMLString: true,
                    })
                }
                return newName
            },

            formatUrl(url) {
                return this.USEHTTPS ? url.replace("http://", "https://") : url
            },

            async getFileDownloadProgress(stream, recordData, fileSize) {
                let that = this
                let total = 0;
                const reader = stream.getReader();
                const read = () => reader.read().then(({ value, done }) => {
                    if (done) {
                        recordData.progress = 100
                        return
                    }
                    total += value.length;
                    // headers有可能不告知大小，然后让progress超过100的进度引发错误，所以最高进度设置为100防止抛出错误
                    let nowProgress = parseFloat((total / fileSize * 100).toFixed(2))
                    recordData.progress = that.formatProgress(nowProgress)
                    read();
                });
                read();
            },

            AES_ECB_DECRYPT(textBase64, secretKey) {
                var keyHex = CryptoJS.enc.Base64.parse(secretKey);
                var decrypt = CryptoJS.AES.decrypt(textBase64, keyHex, {
                    "mode": CryptoJS.mode.ECB,
                    "padding": CryptoJS.pad.Pkcs7
                });
                return CryptoJS.enc.Utf8.stringify(decrypt);
            },

            // 下载文件夹
            downloadCategoryAndMaterialFS() {
                let that = this

                that.downloadCategory()
                    .then(() => {
                        that.downloadStartTimestamp = Date.parse(new Date()) / 1000
                        that.downloadFile()
                    })
                    .catch(error => {
                        that.$notify.warning({ title: '取消', message: error })
                    })
            },

            onSubmitSeed() {
                let that = this
                that.downloadFileCount = that.downloadOriginFileCount - that.discardFileIdSet.size
                that.downloadStartFileCount = that.downloadFileCount
                // 如果有剔除文件，那么文件夹的大小就是未知，以文件个数来推进总进度
                if (that.discardFileIdSet.size > 0) {
                    that.downloadCategorySize = Infinity
                }

                let tipText = '<p>压缩包大小预估:' + that.unitConversion(that.downloadCategorySize) + '</p>' +
                    '<p>文件个数:' + that.downloadFileCount + '</p>' +
                    '<br/>' +
                    '<p><strong>下载开始后，不可关闭当前页面，否则将会中断下载任务！<strong></p>' +
                    '<p>尽可能下载所有文件，异常文件会打印错误记录，截图联系管理员!</p>'
                that.$alert(tipText, '下载确认',
                    {
                        confirmButtonText: '确定',
                        dangerouslyUseHTMLString: true,
                        callback: action => {
                            if (action === 'confirm') {
                                that.downloadCategoryStep++
                                that.drawerVisible = false
                                that.downloadCategoryAndMaterialFS()
                            }
                        }
                    }
                )
            },

            onDownloadCategoryAndMaterialFS() {
                let that = this
                if (that.DOWNLOADINGIDLIST.indexOf(that.downloadCategoryStep) > -1) {
                    return
                }
                else if (that.downloadCategoryStep > 0) {
                    // 刷新页面
                    location.reload()
                    return
                }
                that.initDownloadDialog()

                that.parseSeedInfor()
                    .then(() => {
                        that.downloadCategoryStep++
                        that.formatSeedData()
                        that.drawerVisible = true
                        that.downloadInforVisible = true
                    })
                    .catch(error => {
                        that.$notify.warning({ title: '异常提示', message: error })
                    })
            },

            SelectAndSeeSeed() {
                let that = this
                if (that.downloadCategoryStep == 0) {
                    return
                }
                that.drawerVisible = true
            },

            initDownloadDialog() {
                let that = this
                // 通用模块
                that.downloadedFileSize = 0
                that.downloadCategorySize = 0
                that.downloadOriginFileCount = 0
                that.downloadStartFileCount = 0
                that.downloadFileCount = 0
                that.downloadErrorFileSet = new Set()
                that.downloadInforVisible = false
                that.settingInforVisible = false
                that.writeHandleNum = 0

                // 选择/查看下载资源
                that.drawerVisible = false
                that.fileTreedata = []
                that.categoryTreeCheckedId = []
                that.fileTreeCheckedId = []
                that.discardCategoryIdSet.clear()
                that.discardFileIdSet.clear()

                // 下载显示模块
                that.downloadCategoryStep = 0
                that.downloadProgress = 0
                that.downloadRecordData = []
                that.downloadedErrorRecordData = []

                // 下载信息模块
                that.dirDict = []
                that.dirPathDict = { 0: '' }
                that.fileList = []
                that.dirHandleDict = {}
            },

            // 下载记录相关
            async closeDownloadDialog() {
                let that = this
                let end = Date.parse(new Date()) / 1000

                // 打印错误的统计信息
                if (that.downloadErrorFileSet.size > 0) {
                    let warningMessage = ''
                    for (let filePath of that.downloadErrorFileSet) {
                        warningMessage += '<p>文件:' + filePath + '</p>'
                    }
                    warningMessage += '<p>共计:' + that.downloadErrorFileSet.size + '(个)</p>'

                    that.$notify.warning({
                        title: '文件异常列表统计(无下载)',
                        message: warningMessage,
                        duration: 0,
                        dangerouslyUseHTMLString: true,
                    })
                }

                // 打印下载结果，允许关闭页面
                await that.sleep()
                that.downloadCategoryStep++
                that.downloadProgress = 100
                that.$notify.success({
                    title: '完成',
                    message: '耗时(s):' + (end - that.downloadStartTimestamp),
                    duration: 0
                })
            },

            pushDownloadProgress(fileSize) {
                let that = this
                let nowProgress = 0
                fileSize = fileSize == undefined ? Infinity : fileSize

                that.downloadFileCount -= 1
                // 如果是未知目录大小，总进度条就按照文件个数推进
                // 如果是已知目录大小，总进度条就按照目录大小推进
                if (that.downloadCategorySize == Infinity) {
                    nowProgress = parseFloat(((that.downloadStartFileCount - that.downloadFileCount) / that.downloadStartFileCount * 100).toFixed(2))
                    // 防止进度条溢出
                    that.downloadProgress = that.formatProgress(nowProgress)
                } else {
                    that.downloadedFileSize += fileSize == Infinity ? 0 : fileSize
                    nowProgress = parseFloat((that.downloadedFileSize / that.downloadCategorySize * 100).toFixed(2))
                    // 防止进度条溢出
                    that.downloadProgress = that.formatProgress(nowProgress)
                }
            },

            recordDownloadCategoryData(filePath, fileSize, teeProgress = null) {
                let that = this
                let clock = that.getClock()

                let recordData = { 'date': clock, 'filePath': filePath, 'size': that.unitConversion(fileSize), 'progress': 0 }
                that.downloadRecordData.push(recordData)
                // 已有文件时
                if (teeProgress == null) {
                    recordData.progress = 100
                }
                // 下载文件时
                else {
                    that.getFileDownloadProgress(teeProgress, recordData, fileSize)
                }
            },

            notifyDownloadError(filePath, status, statusText, fileSize, fileUrl) {
                let that = this
                that.downloadErrorFileSet.add(filePath)
                that.downloadedErrorRecordData.push({
                    'date': that.getClock(),
                    'status': status,
                    'statusText': statusText,
                    'size': that.unitConversion(fileSize),
                    'filePath': filePath,
                    'url': fileUrl,
                })
            },

            // -第一步获取种子信息
            async getSeedInfor(file, password = null) {
                let that = this
                let seedDict = {}

                //读取文件内容
                let text = await file.text()
                seedDict = password == null ? JSON.parse(text) : JSON.parse(that.AES_ECB_DECRYPT(text, password)) // 是否解密
                that.dirDict = seedDict['dirDict']
                that.fileList = seedDict['fileList']
                // 如果是未知目录大小，总进度条就按照文件个数推进
                // 如果是已知目录大小，总进度条就按照目录大小推进
                that.downloadCategorySize = seedDict['downloadCategorySize'] == undefined ? Infinity : seedDict['downloadCategorySize']
                that.downloadFileCount = seedDict['fileList'].length
                that.downloadStartFileCount = that.downloadFileCount
                that.downloadOriginFileCount = that.downloadFileCount
                that.$message({ type: 'success', message: '解密成功' })
            },

            async parseSeedInfor() {
                let that = this
                let [fileHandle] = await window.showOpenFilePicker()
                    .catch(() => {
                        throw '取消选择种子文件'
                    });
                let seedDict = {}

                //获取文件
                const file = await fileHandle.getFile()

                if (that.USEPASSWORD) {
                    return that.$prompt('请输入提取码', '提示', {
                        closeOnClickModal: false,
                        closeOnPressEscape: false,
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputPattern: /[0-9a-zA-Z]{43}/,
                        inputErrorMessage: '密码格式不正确'
                    }).then(async ({ value, action }) => {
                        if (action == 'confirm') {
                            await that.getSeedInfor(file, value)
                                .catch(() => {
                                    throw '获取目录失败，请检查1.是否需要输入密码2.密码是否准确'
                                });
                        }
                    }).catch(error => {
                        if (error == 'cancel') { throw '取消解密目录' }
                        else { throw error }
                    });
                } else {
                    await that.getSeedInfor(file)
                        .catch(() => {
                            throw '获取目录失败，请检查1.是否需要输入密码'
                        });
                }
            },

            // -第二步筛选下载内容相关代码
            formatCategoryLoop(dir) {
                let that = this
                that.categoryTreeCheckedId.push(dir['id'])

                if (dir['children'].length > 0) {
                    for (let child_dir of dir['children']) {
                        that.formatCategoryLoop(child_dir)
                    }
                }
            },

            formatSeedData() {
                let that = this

                // 整理目录格式
                for (let dir of that.dirDict["children"]) {
                    that.formatCategoryLoop(dir)
                }
                // 整理文件格式
                let fileId = 1
                for (let file of that.fileList) {
                    that.fileTreeCheckedId.push(fileId)
                    file['id'] = fileId++
                }
            },

            handleCategoryClick(data) {
                let that = this
                that.fileTreedata = []
                that.fileTreeCheckedId = []

                for (let file of that.fileList) {
                    if (file['last_category_id'] == data['id']) {
                        that.fileTreedata.push(file)
                        if (!that.discardFileIdSet.has(file['id'])) {
                            that.fileTreeCheckedId.push(file['id'])
                        }
                    }
                }
            },

            changeDiscardCategoryIdLoop(dir, isChecked) {
                let that = this
                dir.checked = isChecked
                if (!isChecked) {
                    that.discardCategoryIdSet.add(dir.id)
                    for (let file of that.fileList) {
                        if (file['last_category_id'] == dir['id']) {
                            that.discardFileIdSet.add(file['id'])
                        }
                    }
                } else {
                    that.discardCategoryIdSet.delete(dir.id)
                    for (let file of that.fileList) {
                        if (file['last_category_id'] == dir['id']) {
                            that.discardFileIdSet.delete(file['id'])
                        }
                    }
                }

                if (dir['childNodes'].length > 0) {
                    for (let child_dir of dir['childNodes']) {
                        that.changeDiscardCategoryIdLoop(child_dir, isChecked)
                    }
                }
            },

            handleCategoryCheckChange(dir) {
                let that = this
                let categoryNode = that.$refs.categoryTree.getNode(dir['id'])
                let isChecked = categoryNode.checked
                // 下载中不允许修改
                if (that.downloadCategoryStep > 1) {
                    that.$message({ type: 'waring', message: '不可在下载中修改下载内容' })
                    categoryNode.checked = !isChecked
                    return
                }
                // 如果是要改为选定状态，那么要确保父节点都是选定状态
                if (isChecked) {
                    let parentNode = categoryNode.parent
                    // 注意有一个隐藏的根目录，id为0，level为1
                    if (categoryNode.level != 1) {
                        while (parentNode.level >= 1) {
                            if (parentNode.checked == false) {
                                that.$message({ type: 'waring', message: '请确保父目录已经选定' })
                                categoryNode.checked = false
                                return
                            }
                            parentNode = parentNode.parent
                        }
                    }
                }

                // 清空文件显示
                that.fileTreedata = []
                that.fileTreeCheckedId = []
                that.changeDiscardCategoryIdLoop(categoryNode, isChecked)
            },

            handleFileCheckChange(file) {
                let that = this
                let fileNode = that.$refs.fileTree.getNode(file['id'])
                let isChecked = fileNode.checked
                // 下载中不允许修改
                if (that.downloadCategoryStep > 1) {
                    that.$message({ type: 'waring', message: '不可在下载中修改下载内容' })
                    fileNode.checked = !isChecked
                    return
                }

                if (!isChecked) {
                    that.discardFileIdSet.add(file.id)
                } else {
                    that.discardFileIdSet.delete(file.id)
                }
            },

            async createCategoryLoop(currentDirHandle, currentDir, preDirPath) {
                let that = this
                if (that.discardCategoryIdSet.has(currentDir['id'])) {
                    return
                }
                let cur_name = that.formatName(currentDir['name'], preDirPath)
                that.dirHandleDict[currentDir['id']] = await currentDirHandle.getDirectoryHandle(cur_name, { create: true })
                that.dirPathDict[currentDir['id']] = preDirPath + cur_name + '/'

                if (currentDir['children'].length > 0) {
                    for (let child_dir of currentDir['children']) {
                        await that.createCategoryLoop(that.dirHandleDict[currentDir['id']], child_dir, that.dirPathDict[currentDir['id']])
                    }
                }
            },

            async downloadCategory() {
                let that = this
                let currentDirHandle = await window.showDirectoryPicker()
                that.downloadCategoryStep++

                for (let dir of that.dirDict["children"]) {
                    await that.createCategoryLoop(currentDirHandle, dir, '')
                }
            },

            // 这个函数需要根据实际应用的场景进行修改
            // 目的是根据实际情况获取到文件的md5和size
            // 关键是注意实际的url和response.data格式问题
            async checkRepeatBySizeAndMD5(file, url) {
                let that = this
                let fileUrl = url.split('?')[0]

                // step1:先判断大小
                let serverSize = undefined
                await axios(fileUrl + '/info?avinfo')
                    .then(response => {
                        serverSize = response.data['format']['size']
                    })
                    .catch(error => {
                        that.$notify.warning({ title: '获取服务器文件大小错误:' + file.name, message: error, duration: 0 })
                    })
                // 如果服务器查不到大小，那么就直接查md5
                if (serverSize != undefined && serverSize != file.size) {
                    return false
                }

                // step2:再判断MD5
                let serverMD5 = undefined
                await axios(fileUrl + '/info?md5')
                    .then(response => {
                        serverMD5 = response.data['md5']
                    })
                    .catch(error => {
                        that.$notify.error({ title: '获取服务器文件MD5错误:' + file.name, message: error, duration: 0 })
                    })
                // 如果查不到MD5，那么认为文件不相同，打印错误信息，并且触发下载逻辑
                if (serverMD5 == undefined) {
                    return false
                }
                let fileMD5 = await that.getFileMD5(file)

                // 判断MD5是否相同
                return serverMD5 == fileMD5
            },

            async downloadFile() {
                let that = this
                that.downloadCategoryStep++

                for (let file of that.fileList) {
                    if (that.discardFileIdSet.has(file['id'])) {
                        continue
                    }
                    that.downloadOneFile(file)
                }
            },

            async downloadOneFile(file) {
                let that = this
                let state = ''
                let fileHandle = await that.dirHandleDict[file['last_category_id']].getFileHandle(file['name'], { create: true })
                let oldFileHandle = await fileHandle.getFile()

                // 如果本地文件的大小为0，那么必定要下载文件，不需要判断md5
                if (that.USEMD5CHECKREPEAT && oldFileHandle.size != 0) {
                    let checkMD5Same = await that.checkRepeatBySizeAndMD5(oldFileHandle, file['url'])
                    if (checkMD5Same) {
                        that.recordDownloadCategoryData(that.dirPathDict[file['last_category_id']] + file['name'] + "（本地已有-根据MD5判断）", oldFileHandle.size)
                        that.pushDownloadProgress(oldFileHandle.size)
                        return
                    } else if (!checkMD5Same && oldFileHandle.size > 0) {
                        state = '（更新文件-根据MD5判断）'
                    }
                }

                // 等待有空闲的写入流
                while (that.writeHandleNum >= that.WRITEHANDLELIMIT) {
                    await that.sleep()
                }
                that.writeHandleNum += 1
                that.writeURLToFile(fileHandle, file['url'], that.dirPathDict[file['last_category_id']] + file['name'] + state, file['size'], oldFileHandle.size)
                    .finally(() => {
                        that.writeHandleNum -= 1
                    })
            },

            async writeURLToFile(fileHandle, url, path, size, oldFileSize) {
                let that = this
                url = that.formatUrl(url)
                // 发起fetch请求，获取资源
                const { ok, status, statusText, headers, body } = await fetch(
                    url,
                    {
                        // 禁用下载时利用缓存，任何一个资源都触发单独的下载
                        cache: "no-store"
                    }
                ).catch(_ => {
                    let fileSize = size == undefined ? Infinity : size
                    that.notifyDownloadError(path, 0, 0, fileSize, url)
                    that.pushDownloadProgress(fileSize)
                    return
                })
                let fileSize = parseInt(headers.get("Content-Length"))
                // 优先相信报文头部反馈的大小，次之相信种子文件给予的大小，否则最后用Infinity来代表未知大小
                fileSize = isNaN(fileSize) ? (size == undefined ? Infinity : size) : fileSize

                if (!ok) {
                    that.notifyDownloadError(path, status, statusText, fileSize, url)
                    that.pushDownloadProgress(fileSize)
                    return
                }

                // 如果不选择MD5做文件去重判断的话，那么我们会默认使用大小判断
                if (!that.USEMD5CHECKREPEAT) {
                    // 根据大小来判断本地是否已经有同样的文件了，所以能否复用历史文件则要依赖服务器有没有返回长度字段。
                    // 情况一：如果本地有了大小完全一样的文件,那么就直接打印信息,不再获取
                    // console.log(path, oldFileSize, fileSize, oldFileSize == fileSize)
                    if (oldFileSize == fileSize && fileSize != 0) {
                        // 已有文件则关掉请求资源的流操作
                        body.cancel()
                        that.recordDownloadCategoryData(path + "（本地已有-仅根据大小判断）", fileSize)
                        that.pushDownloadProgress(fileSize)
                        return
                    }
                    // 情况二：如果本地已经有文件,但是和服务器的文件大小不一样，那么就更新这个文件
                    else if (oldFileSize != fileSize && oldFileSize != 0) {
                        path += "（更新文件-仅根据大小判断）"
                    }
                    // 情况三：其他情况都视为新下载文件
                }

                const writable = await fileHandle.createWritable()
                const [teeProgress, teeWrite] = body.tee()

                // 记录每一个文件的下载进度
                that.recordDownloadCategoryData(path, fileSize, teeProgress)

                // 流式保存文件和记录总进度
                // Stream the response into the file.
                await teeWrite.pipeTo(writable).finally(() => {
                    that.pushDownloadProgress(fileSize)
                });
                // pipeTo() closes the destination pipe by default, no need to close it.
            },

            // 下载文件的工具函数-仅作参考
            async writeFile(fileHandle, contents) {
                // Create a FileSystemWritableFileStream to write to.
                const writable = await fileHandle.createWritable();
                // Write the contents of the file to the stream.
                await writable.write(contents);
                // Close the file and write the contents to disk.
                await writable.close();
            },
        }
    })
    /*
    * File System APi
    * API参考地址：https://developer.mozilla.org/en-US/docs/Web/API/window/showOpenFilePicker
    */
</script>

</html>